---
import Button from '../buttons/Button';
import type { Price } from '../../dto/types';
import CTA from '../CTA/CTA.astro';
export type Props = Price;

const { slug, price, title, description, bulets }: Props = Astro.props;
---

<Fragment>
  <div
    class="price-card flex flex-col  p-10 "
  >
  <div class="item__price">
    <span class="item__value"><sup class="item__currency">$</sup>60</span>
  </div>
    <CTA
      description={description}
      title={title}
      buttonText={'Book time slot'}
    />
    {bulets.map((bulet) => <p class="mt-4">{bulet}</p>)}
  </div>
</Fragment>

<style>
  .price-card {
    background-color: white;
    border-radius: 3rem;
    box-shadow: 0 0.8rem 4rem 0 rgba(0, 0, 0, 0.05);
    min-height: 25rem;
    min-width: 15rem;
  }
</style>
