---
import type { Price } from '../../dto/types';
import CTA from '../CTA/CTA.astro';

export type Props = Price;

const { slug, price, title, description, bullets }: Props = Astro.props;
---

<Fragment>
  <div class="price-card flex flex-col p-10">
    <h3 class="text-5xl font-bold">{price}&#8362</h3>
    <div class="cta">
      <CTA
        buttonText={'Book time slot'}
        description={description}
        title={title}
      />
      <ul>
        {bullets.map((bulet) => <li class="bullets">{bulet}</li>)}
      </ul>
    </div>
  </div>
</Fragment>

<style>
  :global(.cta .cta__title) {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 1rem;
  }

  :global(.cta .cta__button button) {
    width: 100%;
    justify-content: center;
  }

  :global(.cta .cta__button) {
    margin: 2rem 0 2rem 0;
  }

  .price-card {
    background-color: white;
    border-radius: 3rem;
    box-shadow: 0 0.8rem 4rem 0 rgba(0, 0, 0, 0.05);
    min-height: 25rem;
    min-width: 20rem;
  }

  .bullets::before {
    content: url(/svg/check-circle.svg);
    vertical-align: middle;
    margin-right: 0.5rem;
  }
</style>
