---
---
<div
  class={"absolute z-[-1] flex gap-5 " +
    "scale-[0.5] bottom-[-20px] start-[-50px] " +
    "md:scale-[0.75] md:start-[-50px]" +
    "lg:scale-[1] lg:bottom-0 lg:start-[-50px]"}
>
  <img
    alt="Dots SVG"
    src="/svg/hero-dots.svg" />
  <img
    alt="Dots SVG"
    src="/svg/hero-dots.svg" />
</div>
