---
import { HOME } from "../../features/navigation";

export interface Props {
  footer?: boolean
}

const { footer = false } = Astro.props;

const src = footer ? "/svg/logo-white.svg" : "/svg/logo.svg";

---

<a href={HOME.path}>
  <img
    alt="Logo"
    class={"logo" + (footer ? " in-footer" : "")}
    src={src} />
</a>

<style>
  .logo {
    width: 112px;
  }
  .in-footer {
    width: 160px;
  }
</style>
