---
import type { AvailableEvents } from "../../features/events";
import Button from "../buttons/Button";

export interface Props {
  title: string
  description: string
  buttonText?: string
  buttonEvent?: AvailableEvents
}

const { title, description, buttonText, buttonEvent }: Props = Astro.props;
---

<Fragment>
  <h2
    contenteditable
    class="font-semibold mb-7 mt-5 md:mt-14 lg:mt-20 cta__title">{title}</h2>
  <p contenteditable>{description}</p>
  {
    buttonText ? (
      <div class="mt-8 mb-16 cta__button">
        <Button
          client:visible
          eventName={buttonEvent}>
          {buttonText}
        </Button>
      </div>
    ) : null
  }
</Fragment>

<style>
   .cta__title{
    font-size: 2.25rem; 
    line-height: 2.5rem;
  }
</style>
