---
import Logo from "../logo/Logo.astro"


---
<footer class="shrink-0 bg-slate-950 text-stone-50 overflow-hidden h-14 flex items-center">
  <div class="container row">
    <p class="text-sm">
      <span>Setup Israel</span>
      <span> © setupisrael.co.il</span>
      <span>&nbsp;</span>
      {new Date().getFullYear()}
    </p>
    <Logo white={true} />
  </div>
</footer>
