---
import Logo from "../logo/Logo.astro"
import Email from "../svg/Email.astro"
import Phone from "../svg/Phone.astro"
---

<footer class="shrink-0 bg-[#1E1E1E] text-white">
  <div class="container py-[46px]">
    <div class="flex flex-wrap justify-between">
      <div>
        <Logo white={true} />
        <p class="mt-6 w-[270px]">
          Designed corners and a variety of accessories that will give you
          everything you need to produce any photo or video you dream of
        </p>
        <!-- TODO: Social links -->
      </div>
      <div>
        <h6 class="mb-8">Contacts</h6>
        <div class="flex gap-2 mb-2">
          <div>
            <Phone />
          </div>
          <a href="tel:+972544923537">
            <p>0544923537</p>
          </a>
        </div>
        <div class="flex gap-2 mb-2">
          <div>
            <Email />
          </div>
          <a href="mailto:info@setupisrael.co.il">
            <p>info@setupisrael.co.il</p>
          </a>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center mt-10">
      <p class="text-sm">
        <span>Setup Israel</span>
        <span>&nbsp;</span>
        <span>© setupisrael.co.il</span>
        <span>&nbsp;</span>
        <span>{new Date().getFullYear()}</span>
      </p>
    </div>
  </div>
</footer>
