---
import Logo from "../logo/Logo.astro";
import Email from "../svg/Email.astro";
import FacebookIcon from "../svg/FacebookIcon.astro";
import InstagramIcon from "../svg/InstagramIcon.astro";
import Phone from "../svg/Phone.astro";
import TikTokIcon from "../svg/TikTokIcon.astro";
import {__t} from "../../features/i18n"
---
<footer class="shrink-0 bg-[#1E1E1E] text-white">
  <div class="container py-5 md:py-11 ">
    <div class="flex flex-wrap justify-between flex-col sm:flex-row">
      <div class="information">
        <Logo footer={true} />
        <p class="mt-6 w-[270px] ">
          {__t("footer.description")}
        </p>
        <div class="flex w-full py-4 items-center ">
          <a
            class="mr-2"
            href="#"><FacebookIcon /></a>
          <a
            class="mr-2"
            href="#"><InstagramIcon /></a>
          <a href="#"><TikTokIcon /></a>
        </div>
      </div>
      <div>
        <h6 class="mb-1 sm:mb-8 text-lg font-semibold">
          {__t("footer.whatWeDo")}
        </h6>
        <ul>
          <li><a href="#">{__t("footer.events")}</a></li>
          <li><a href="#">{__t("footer.birthday")}</a></li>
          <li><a href="#">{__t("footer.parties")}</a></li>
          <li><a href="#">{__t("footer.b2bEvents")}</a></li>
        </ul>
      </div>
      <div class="my-2 sm:mb-8">
        <h6 class="mb-1 sm:mb-8 text-lg font-semibold">{__t("footer.contacts")}</h6>
        <div class="flex gap-2 mb-2">
          <div>
            <Phone />
          </div>
          <a href="tel:+972544923537">
            <p>0544923537</p>
          </a>
        </div>
        <div class="flex  mb-2">
          <div class="mr-2">
            <Email />
          </div>
          <a href="mailto:info@setupisrael.co.il">
            <p>info@setupisrael.co.il</p>
          </a>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <p class="text-sm">
        <span>{__t("footer.copyright")}&nbsp;</span>
        <span>&copy;</span>
        <span>&nbsp;setupisrael.co.il&nbsp;</span>
        <span>{new Date().getFullYear()}</span>
      </p>
    </div>
  </div>
</footer>
