---
import "./global.css";
import "@fontsource/rubik/variable.css";
// import PartytownScripts from "../partytown/Partytown.astro";
// import SchemaOrg from "../schemes/SchemaOrg.astro";
import i18next from "i18next";
import Footer from "../footer/Footer.astro";
import Header from "../header/Header.astro";
import Head from "./Head.astro";


const lang = i18next.language;
const dir = lang === "he" ? "rtl" : "ltr";
const bodyClass = "body min-h-screen w-screen flex flex-col overflow-x-hidden antialiased " + dir;

---

<!DOCTYPE html>
<html
  dir={dir}
  lang={lang}
>
  <Head />

  <body class={bodyClass}>
    <Header />

    <div class="flex-grow">
      <slot />
    </div>

    <Footer />

    <!-- partytown https://partytown.builder.io/ -->
    <!-- <PartytownScripts /> -->

    <!-- Schema https://schema.org -->
    <!-- <SchemaOrg /> -->
  </body>
</html>
