---
import "./global.css";
import "@fontsource/rubik/variable.css";

import i18next from "i18next";

import PartytownScripts from "../partytown/Partytown.astro";
import SchemaOrg from "../schemes/SchemaOrg.astro";

import Footer from "./Footer.astro";
import Head from "./Head.astro";
import Header from "./Header.astro";

---

<!DOCTYPE html>
<html lang={i18next.language}
dir={i18next.language === "he" ? "rtl" : "ltr"}
>
  <Head />

  <body class="body min-h-screen w-screen flex flex-col overflow-x-hidden antialiased">

    <div class="flex-grow">
      <slot />
    </div>

    <Footer />

    <!-- partytown https://partytown.builder.io/ -->
    <PartytownScripts />

    <!-- Schema https://schema.org -->
    <SchemaOrg />
  </body>
</html>
