---
import { changeLanguage } from "i18next";
import Hero from "../components/hero/Hero.astro";
import Root from "../components/layout/Root.astro";
import Promo from "../components/promo/Promo.astro";
import Services from "../components/services/Services.astro";
import Gallery from "../components/gallery/Gallery.astro";
import { __t } from "../features/i18n";

changeLanguage("he");
---

<Root>
  <div class="mb-8 primary">
    <Gallery/>
    <!-- <Hero
      description={__t("home.hero.description")}
      image={"/images/hero/DI5_8728.jpg"}
      title={__t("home.hero.title")}
    />
    <Services
      description={__t("home.services.description")}
      slugs={["selfie", "events", "productions"]}
      title={__t("home.services.title")}
    />
    <div class="py-12">
      <Promo
        description={__t("home.promo.description")}
        title={__t("home.promo.title")}
      />
    </div> -->
  </div>
</Root>
