---
import { changeLanguage } from "i18next";
import Hero from "../components/hero/Hero.astro";
import Root from "../components/layout/Root.astro";
import { __t } from "../features/i18n";

changeLanguage("he");
---

<Root>
  <div class="mb-8 primary">
    <div class="">
      <Hero
        cta={__t("home.hero.ctaText")}
        ctaEvent="contact"
        description={__t("home.hero.description")}
        image={"/images/hero/DI5_8728.jpg"}
        title={__t("home.hero.title")}
      />
    </div>
    <!-- <div class="py-12">
      <Promo
        cta={__("cta.bookBirthdayParty")}
        ctaEvent="birthday"
        description={__("promo.description")}
        title={__("promo.title")}
      />
    </div>
    <div class="">
      <Services
        description={__("services.description")}
        slugs={["party", "bat-mitzvah", "corporate"]}
        title={__("services.title")}
      />
    </div> -->
  </div>
</Root>
