---
import { localizePath } from "astro-i18next";


export interface Props {
    white?: boolean
}

const { white = false } = Astro.props;

const src = white ? "/svg/logo-white.svg" : "/svg/logo.svg";

---

<a href={localizePath("/")}>
    <img
        alt="Logo"
        height="28"
        src={src}
        width="112" />
</a>
