---
import banner from "../../assets/DI5_8728.jpg";
import Comments from "../../components/comments/Comments.astro";
import Hero from "../../components/hero/Hero.astro";
import Root from "../../components/layout/Root.astro";
import PriceList from "../../components/price/PriceList.astro";
import Promo from "../../components/promo/Promo.astro";
import Services from "../../components/services/Services.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("ru");
---

<Root lang={Astro.params.lang}>
  <div class="mb-8 primary">
    <div class="">
      <Hero
        cta={t("cta.contactNow")}
        ctaEvent="contact"
        description={t("site.description")}
        image={banner}
        title={t("site.title")}
      />
    </div>
    <div class="py-12">
      <Promo
        cta={t("cta.bookBirthdayParty")}
        ctaEvent="birthday"
        description={t("promo.description")}
        title={t("promo.title")}
      />
    </div>
    <div class="">
      <Services
        description={t("services.description")}
        slugs={["party", "bat-mitzvah", "corporate"]}
        title={t("services.title")}
      />
      <PriceList
        description={t("pricelist.description")}
        slugs={["personal", "business"]}
        title={t("pricelist.title")}
      />
      <Comments
        description={t("comments.description")}
        title={t("comments.title")}
      />
    </div>
  </div>
</Root>

