---
import { headerLinks } from "../../features/navigation";
---

<ul class="flex gap-6">
  {
    headerLinks.map((link) => (
      <li>
        <a href={link.path}>{link.label}</a>
      </li>
    ))
  }
</ul>
