---
import { Image } from "@astrojs/image/components";
---
<Fragment>
  <div>
    <Image
      alt="image"
      class="rounded-full"
      height="100"
      position="top"
      src="./images/1.jpg"
      width="100"
    />
    <Image
      alt="image"
      class="rounded-full"
      height="100"
      position="top"
      src="./images/2.jpg"
      width="100"
    />
    <Image
      alt="image"
      class="rounded-full"
      height="100"
      position="top"
      src="./images/3.jpg"
      width="100"
    />
    <Image
      alt="image"
      class="rounded-full"
      height="100"
      position="top"
      src="./images/4.jpg"
      width="100"
    />
    <Image
      alt="image"
      class="rounded-full"
      height="100"
      position="top"
      src="./images/5.jpg"
      width="100"
    />
    <Image
      alt="image"
      class="rounded-full"
      height="100"
      position="top"
      src="./images/6.jpg"
      width="100"
    />
    <Image
      alt="image"
      class="rounded-full"
      height="100"
      position="top"
      src="./images/7.jpg"
      width="100"
    />
    <Image
      alt="image"
      class="rounded-full"
      height="100"
      position="top"
      src="./images/8.jpg"
      width="100"
    />
  </div>
</Fragment>