---
import CommentsAvatars from "./CommentsAvatars.astro";
import CommentsProfile from "./CommentsProfile.astro";
---

<Fragment>
    <div class="flex">
      <CommentsProfile/>
      <CommentsAvatars/>
    </div>
  </div>
</Fragment>
