---
import { Image } from "@astrojs/image/components";
import clients from "../../dto/clients.js";

---

<Fragment>
  <div>
    {
      clients.map((client) => (
        <div>
            <Image
          alt={client.author.name}
          class="rounded-full alert cursor-pointer"
          height="100"
          position="top"
          src={client.imageSrc}
          width="100"
          id={client.id}
          
        />            
        </div>

      ))
    }
  </div>
</Fragment>

<script >

    const buttons = document.querySelectorAll('.alert');
  
    buttons.forEach((button) => {
      button.addEventListener('click', (e) => {
        console.log(e.target.id)
        alert('Button was clicked!');
      });
    });
  </script>
