---
import { Image } from "@astrojs/image/components";
---

<div class="flex">
  <div>
    <Image
      alt="image"
      class="rounded-full rounded-tr-none"
      height="400"
      position="top"
      src="./images/1.jpg"
      width="400"
    />
  </div>
  <div>
    <h3>Moshe Katz</h3>
    <p>
      I can't say enough. It was from the interview until the party ended. I never
      felt like there was a moment that they weren't there for me. Attentive, so
      sweet, fun, extra mile, made my son feel amazing and so special! I loves
      every minute and I highly recommend this team from top to bottom.
    </p>
  </div>

</div>
